body {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0;
}

.comments {
    flex-grow: 0;
    padding: 30px;

    &__title {
        // writing-mode: vertical-rl;
        // transform: scale(-1);

        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: rgb(23, 23, 23);

        &_active {
            writing-mode: vertical-rl;
            transform: scale(-1);
        }
    }
}

.home {
    background: #f2f2f2;
    min-height: 800px;

    // padding-top: 20px;
    &__body {
        display: flex;
        justify-content: space-between;
    }
}

.v-btn__content {
    height: 0;
}

a {
    text-decoration: none;
    color: #000;
}

//
.article-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    scroll-snap-type: y mandatory;
    align-items: center;

    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.articles {
    padding: 30px;
    flex-grow: 1;
}

.content {
    width: 100%;
    display: flex;
}

@import './LeftBar.scss';
@import './Article.scss';