.profile {
    width:100%;display:flex;justify-content:center;
}

.article-tool {
    width: 640px;
    min-height: 94px;
    background: #ffffff;
    border-radius: 12px;
    margin-top: 20px;
    padding: 10px;

    &__column {
        display: flex;
        align-items: center
    }

    &__note-button {
        width: 136px;
        height: 30px;
        background: #F4F7F9;
        border-radius: 20px;
        margin: 10px;
        
        
    }
    &__create-button {
        background-color: rgba(255, 255, 255, 0);
    }
    button {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;

        color: rgba(97, 97, 97, 0.9);
        
    }
}

@import 'Subscribers.scss';
@import 'UserDescription.scss';